<?xml version="1.0" encoding="utf-8"?><PaintPsi xmlns:xlink="http://www.w3.org/1999/xlink" width="1000" height="600">
  <Layer id="events-starts" class="bpm">
    <Figure id="start-group" x="20" y="20" shape="bpm-group">
      <Setting key="title" text="Start Events" x="95"/>
      <Setting key="box" href="#" width="190" height="320"/>
    </Figure>
    <Figure id="start-none" x="50" y="60" shape="bpm-event-start">
      <Setting key="name" text="None"/>
      <Setting key="type" href="#"/>
    </Figure>
    <Figure id="start-message" x="140" y="60" shape="bpm-event-start">
      <Setting key="name" text="Message"/>
      <Setting key="type" href="#bpm-trigger-message-w"/>
    </Figure>
    <Figure id="start-conditional" x="50" y="110" shape="bpm-event-start">
      <Setting key="name" text="Conditional"/>
      <Setting key="type" href="#bpm-trigger-conditional-w"/>
    </Figure>
    <Figure id="start-signal" x="140" y="110" shape="bpm-event-start">
      <Setting key="name" text="Signal"/>
      <Setting key="type" href="#bpm-trigger-signal-w"/>
    </Figure>
    <Figure id="start-multiple" x="50" y="160" shape="bpm-event-start">
      <Setting key="name" text="Multiple"/>
      <Setting key="type" href="#bpm-trigger-multiple-w"/>
    </Figure>
    <Figure id="start-parallel" x="140" y="160" shape="bpm-event-start">
      <Setting key="name" text="Parallel"/>
      <Setting key="type" href="#bpm-trigger-parallel-w"/>
    </Figure>
  </Layer>

  <Layer id="events-intermediates-catch" class="bpm">
    <Figure id="intermediate-group-catch" x="230" y="20" shape="bpm-group">
      <Setting key="title" text="Intermediate Catch Events" x="95"/>
      <Setting key="box" href="#" width="190" height="320"/>
    </Figure>
    <Figure id="intermediate-catch-none" x="260" y="60" shape="bpm-event-intermediate">
      <Setting key="name" text="None"/>
      <Setting key="type" href="#"/>
    </Figure>
    <Figure id="intermediate-catch-message" x="350" y="60" shape="bpm-event-intermediate">
      <Setting key="name" text="Message"/>
      <Setting key="type" href="#bpm-trigger-message-w"/>
    </Figure>
    <Figure id="intermediate-catch-timer" x="260" y="110" shape="bpm-event-intermediate">
      <Setting key="name" text="Timer"/>
      <Setting key="type" href="#bpm-trigger-timer-w"/>
    </Figure>
    <Figure id="intermediate-catch-error" x="350" y="110" shape="bpm-event-intermediate">
      <Setting key="name" text="Error"/>
      <Setting key="type" href="#bpm-trigger-error-w"/>
    </Figure>
    <Figure id="intermediate-catch-multiple" x="260" y="160" shape="bpm-event-intermediate">
      <Setting key="name" text="Multiple"/>
      <Setting key="type" href="#bpm-trigger-multiple-w"/>
    </Figure>
    <Figure id="intermediate-catch-conditional" x="350" y="160" shape="bpm-event-intermediate">
      <Setting key="name" text="Conditional"/>
      <Setting key="type" href="#bpm-trigger-conditional-w"/>
    </Figure>
    <Figure id="intermediate-catch-link" x="260" y="210" shape="bpm-event-intermediate">
      <Setting key="name" text="Link"/>
      <Setting key="type" href="#bpm-trigger-link-w"/>
    </Figure>
    <Figure id="intermediate-catch-signal" x="350" y="210" shape="bpm-event-intermediate">
      <Setting key="name" text="Signal"/>
      <Setting key="type" href="#bpm-trigger-signal-w"/>
    </Figure>
    <Figure id="intermediate-catch-parallel" x="260" y="260" shape="bpm-event-intermediate">
      <Setting key="name" text="Parallel"/>
      <Setting key="type" href="#bpm-trigger-parallel-w"/>
    </Figure>
  </Layer>

<Layer id="events-intermediates-throw" class="bpm">
    <Figure id="intermediate-group-throw" x="440" y="20" shape="bpm-group">
      <Setting key="title" text="Intermediate Throw Events" x="95"/>
      <Setting key="box" href="#" width="190" height="320"/>
    </Figure>
    <Figure id="intermediate-throw-none" x="470" y="60" shape="bpm-event-intermediate">
      <Setting key="name" text="None"/>
      <Setting key="type" href="#"/>
    </Figure>
    <Figure id="intermediate-throw-message" x="560" y="60" shape="bpm-event-intermediate">
      <Setting key="name" text="Message"/>
      <Setting key="type" href="#bpm-trigger-message-b"/>
    </Figure>
    <Figure id="intermediate-throw-escalation" x="470" y="110" shape="bpm-event-intermediate">
      <Setting key="name" text="Escalation"/>
      <Setting key="type" href="#bpm-trigger-escalation-b"/>
    </Figure>
    <Figure id="intermediate-throw-compensation" x="560" y="110" shape="bpm-event-intermediate">
      <Setting key="name" text="Compensation"/>
      <Setting key="type" href="#bpm-trigger-compensation-b"/>
    </Figure>
    <Figure id="intermediate-throw-link" x="470" y="160" shape="bpm-event-intermediate">
      <Setting key="name" text="Link"/>
      <Setting key="type" href="#bpm-trigger-link-b"/>
    </Figure>
    <Figure id="intermediate-throw-signal" x="560" y="160" shape="bpm-event-intermediate">
      <Setting key="name" text="Signal"/>
      <Setting key="type" href="#bpm-trigger-signal-b"/>
    </Figure>
    <Figure id="intermediate-throw-multiple" x="470" y="210" shape="bpm-event-intermediate">
      <Setting key="name" text="Multiple"/>
      <Setting key="type" href="#bpm-trigger-multiple-b"/>
    </Figure>
  </Layer>

  <Layer id="events-end" class="bpm">
    <Figure id="intermediate-group-end" x="650" y="20" shape="bpm-group">
      <Setting key="title" text="End Events" x="95"/>
      <Setting key="box" href="#" width="190" height="320"/>
    </Figure>
    <Figure id="end-none" x="680" y="60" shape="bpm-event-end">
      <Setting key="name" text="None"/>
      <Setting key="type" href="#"/>
    </Figure>
    <Figure id="end-message" x="770" y="60" shape="bpm-event-end">
      <Setting key="name" text="Message"/>
      <Setting key="type" href="#bpm-trigger-message-b"/>
    </Figure>
    <Figure id="end-error" x="680" y="110" shape="bpm-event-end">
      <Setting key="name" text="Error"/>
      <Setting key="type" href="#bpm-trigger-error-b"/>
    </Figure>
    <Figure id="end-escalation" x="770" y="110" shape="bpm-event-end">
      <Setting key="name" text="Escalation"/>
      <Setting key="type" href="#bpm-trigger-escalation-b"/>
    </Figure>
    <Figure id="end-cancel" x="680" y="160" shape="bpm-event-end">
      <Setting key="name" text="Cancel"/>
      <Setting key="type" href="#bpm-trigger-cancel-b"/>
    </Figure>
    <Figure id="end-compensation" x="770" y="160" shape="bpm-event-end">
      <Setting key="name" text="Compensation"/>
      <Setting key="type" href="#bpm-trigger-compensation-b"/>
    </Figure>
    <Figure id="end-conditional" x="680" y="210" shape="bpm-event-end">
      <Setting key="name" text="Conditional"/>
      <Setting key="type" href="#bpm-trigger-conditional-b"/>
    </Figure>
    <Figure id="end-signal" x="770" y="210" shape="bpm-event-end">
      <Setting key="name" text="Signal"/>
      <Setting key="type" href="#bpm-trigger-signal-b"/>
    </Figure>
    <Figure id="end-terminate" x="680" y="260" shape="bpm-event-end">
      <Setting key="name" text="Terminate"/>
      <Setting key="type" href="#bpm-trigger-terminate-b"/>
    </Figure>
    <Figure id="end-multiple" x="770" y="260" shape="bpm-event-end">
      <Setting key="name" text="Multiple"/>
      <Setting key="type" href="#bpm-trigger-multiple-b"/>
    </Figure>
  </Layer>
</PaintPsi>